* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    margin: 0 50px;
}

.title {
    background-color: #76c6f0;
    margin: 10px;
    border: 5px solid #049ef1;;
    padding: 5px;
    
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.list {
    background-color: rgb(103, 180, 238);
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.frappe {
    margin: 10px;
    border: 5px solid #ffffff;
    padding: 10px;
    background-color: beige;
}

.espresso {
    margin: 10px;
    border: 5px solid #ffffff;
    padding: 10px;
    background-color: beige;
}

.cappuccino {
    margin: 10px;
    border: 5px solid #ffffff;
    padding: 10px;
    background-color: beige;
}

img {
    width: 500px;
}